body {
  background-color:#008891;
  margin: 0;
  text-align: center;
  font-family: 'Tinos', serif;
}

h1 {
  margin: 20px 0 0 0;
  font-family: 'Dancing Script', cursive, sans-serif;
}
p{
  margin:0 0 300px 0;
}

.bottom-container{
  position: relative;
  bottom:100px;
}
.btn{
  position: relative;
  bottom:100px;
}

.top-cloud {
  position: absolute;
  right: 300px;
  top: 10px;
  bottom:100px;
}
.mountain{
  position: absolute;
  top:100px;
  bottom:200px;
  
  right:500px;
}

.top-container {
  position: relative;
  top: 100px;

}
